
<div class="row">
<div class="span3">

  <ul class="sidenav">
    <%= render :partial => '/refinery/menu_branch', 
      :collection => refinery_menu_pages.select{|p| p.parent_id == @page.root.id},
      :locals => {
        :hide_children => false,
        :apply_css => true 
      } -%>
  </ul>

<ul>
  <%# @page.children.each do |child| %>
      <li><%#= link_to child.title, child.url %></li>
  <%# end %>
</ul>

<%= raw @page.content_for(:side_body) %>

</div>
<div class="span8 dotted">

<h1><%#= @page.title %></h1>

<!--
<ul id='gallery'>
  <%# @page.images.each do |image| %>
    <li>
      <%#= link_to image_tag(image.thumbnail("200x200#c").url), image.thumbnail("900x600").url %>
    </li>
 <%# end %>
</ul>
 -->

<%= raw @page.content_for(:body) %>
 


</div>



</div> 