<!--Main Content-->
<section id="content">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        
        <!--Bread Crumbs-->
        <ul class="breadcrumb">
          <li></li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <p><%= raw @page.content_for(:body) %> </p><br />
      </div>
    </div>
    
  </div>
</section>  

<!--Message Section-->
<section id="message">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 text-center">
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Us neque, sed blandit ante. Integer eget massa blandit ante.</h2>
      </div>
    </div>
  </div>
</section>