
<div class="row-fluid">
  <div class="span12">
    <h2>Sobre Centro Médico Bournigal</h2>
    <p class="lead">Learn About Who We Are</p>
    <p><%= raw @page_content(:body) %></p>
  </div>
</div>










