<!--Main Content-->
<section id="content">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        
        <!--Bread Crumbs-->
        <ul class="breadcrumb">
          <li></li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <p><%= raw @page.content_for(:body) %> </p><br />
      </div>
    </div>
    
  </div>
</section>