<!--Main Content-->
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        
        <!--Bread Crumbs-->
        <ul class="breadcrumb">
          <li></li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <%= raw @page.content_for(:body) %>
      </div>
    </div>
    
  </div>

<!-- Carousel -->

<div id="myCarousel" class="carousel slide animated fadeIn">
	<section id="message3">
	  <div class="container">
	    <div class="row-fluid">
	      <div class="span12 text-center">
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel" data-slide-to="0" class="active">1973</li>
					  <li data-target="#myCarousel" data-slide-to="1">1983</li>
					  <li data-target="#myCarousel" data-slide-to="2">1985</li>
					  <li data-target="#myCarousel" data-slide-to="3">1995/1997</li>
					  <li data-target="#myCarousel" data-slide-to="4">2003</li>
					  <li data-target="#myCarousel" data-slide-to="5">2004</li>
					  <li data-target="#myCarousel" data-slide-to="6">2009</li>
					  <li data-target="#myCarousel" data-slide-to="7">2013</li>
					</ol>
	      </div>
	    </div>
	  </div>
	</section>
	
  
  <div class="carousel-inner">
    
    <!--Item One-->
    <div class="item one active">
      <div class="container animated fadeInUp">
        <div class="carousel-caption">
	          <h1>1973</h1>
	          <h3>
	 				  	El 25 de Octubre 1973,
							se inaugura el CENTRO
							MÉDICO PUERTO PLATA,
							S.A., hoy día CENTRO
							MÉDICO BOURNIGAL,
							S.A. Pionero en tener
							médicos graduados en
							distintas especialidades
							en esta región.
					 </h3>
        </div>
      </div>
    </div>
    
    <!--Item Two-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>1983</h1>
          <h3>El 1ro. de Abril 1983,
					la institución pasa a ser propiedad
					de una nueva corporación, liderada
					por la Familia Redondo, con el Sr. José
					J. Redondo como presidente.
					En reconocimiento a la labor científica
					y profesional de su fundador, la nueva
					institución adquiere el nombre de
					CENTRO MÉDICO BOURNIGAL.
					También inicia la gestión internacional
					de lo que hoy se conoce como
					Grupo Rescue.</h3>
        </div>
      </div>
    </div>
    
    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>1985</h1>
          <h3>En 1985 el CENTRO
					MÉDICO BOURNIGAL
					logra un crecimiento
					espectacular, afirmando
					su protagonismo en los
					servicios médicos de la
					región, concomitantemente
					al desarrollo sostenido del
					destino turístico
					Puerto Plata.
					En la década de los 80’s el
					hospital creció cerca de un
					240% en 5 años.</h3>
        </div>
      </div>
    </div>

    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>1995/1997</h1>
          <h3>En Abril del 1995 la corporación
					inaugura la Clínica de Urgencias
					PLAYA DORADA MEDICAL CARE.
					En 1997 se apertura la Clínica
					SERVIMED COSTA NORTE. Ambas
					instituciones han servido de
					apoyo logístico para los servicios
					médicos integrales al destino
					turístico Puerto Plata.</h3>
        </div>
      </div>
    </div>

    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>2003</h1>
          <h3>En el 2003 el grupo se
					expande a todo el país
					con la incorporación de
					GRUPO RESCUE, la red
					nacional de Servicios
					Médicos más completa
					de la región.</h3>
        </div>
      </div>
    </div>

    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>2004</h1>
          <h3>En Marzo del 2004 se
					inaugura el CENTRO
					MÉDICO PUNTA CANA,
					en el destino del mismo
					nombre, con la misma
					visión de proveer servicios
					médicos de calidad a los
					residentes y visitantes
					de la zona.</h3>
        </div>
      </div>
    </div>

    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>2009</h1>
          <h3>En el 2009 se inicia el
					programa oficial de educación
					médica especializada, con la
					apertura de la RESIDENCIA DE
					EMERGENCIOLOGIA Y
					MEDICINA DE DESASTRES.
					Con esto se completa el
					esquema del Instituto de
					Salud. (Asistencia –
					Investigación Clínica –
					Enseñanza Especializada).</h3>
        </div>
      </div>
    </div>

    <!--Item Three-->
    <div class="item tback">
      <div class="container">
        <div class="carousel-caption">
          <h1>2013</h1>
          <h3>En el 2013 se avanza
					considerablemente en el proceso de
					reestructuración y ampliación física, la
					organización funcional dependiente de
					la gestión corporativa, y el desarrollo
					de nuevas áreas de servicios;
					confirmando el liderazgo indiscutible
					de la institución a través de SU MARCA,
					al Centro Médico Bournigal cumplir sus
					40 años de servicios y 30 años de
					experiencia en el mercado
					internacional de lo que hoy se conoce
					como Grupo Rescue.</h3>
        </div>
      </div>
    </div>


    
  </div>


<!-- 
  <a class="left carousel-control hidden-phone" href="#header" data-slide="prev"><i class="icon-angle-left"></i></a>
  <a class="right carousel-control hidden-phone" href="#header" data-slide="next"><i class="icon-angle-right"></i></a>
-->
</div><!-- /.carousel -->



