<!--Main Content-->
<section id="content">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        
        <!--Bread Crumbs-->
        <ul class="breadcrumb">
          <li></li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
				  <h2><%= t('.search_results_for', :what => params[:query]) %></h2>
				<% if @results.empty? %>
			    <h2><%= t('.no_results_for', :what => params[:query]) %></h2>
			  <% else %>
			
			    <div class="span12">
			    	
			      <% @results.each do |result| %>
			          <span class='result_type'><%#= result_type result %></span>
			          <h3 class="blue"><%= link_to result_title(result).html result_url(result) %></h3>

			      <% end %>
			    </div>

			    <% end %>
			  
      </div>
    </div>
    
  </div>
</section>