<% if @posts.many? %>
  <h3><%= t('.other') %></h3>
  <ul id="unstyled blog-links">
    <% @posts.each do |blog_post| %>
      <li>
        <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
      </li>
    <% end %>
  </ul>
<% end %>