<div class="row">

<div class="span3">
<ul>
    <li><strong>Social Media</strong></li>
    <li>Al publicar en cualquier sitio web más abajo, usted está de acuerdo con las <a href="/politicas-de-redes-sociales">Políticas de Redes Sociales.</a></li>
    <li><a href="http://www.facebook.com/pages/Grupo-Rescue-SA/198746783506477?fref=ts">Facebook</a></li>
    <li><a href="https://twitter.com/GrupoRescue">Twitter</a></li>
    <li><a href="http://www.linkedin.com/company/grupo-rescue?trk=top_nav_home">LinkedIn</a></li>
</ul>
</div>

<div class="span3">
<ul>
    <li><strong>Home</strong></li>
    <li><a href="/plantas-de-piso">Plantas de piso</a></li>
    <li><a href="/sobre-centro-medico-bournigal">Sobre Centro M&eacute;dico Bournigal</a></li>
    <li><a href="/carrera-en-centro-medico-bournigal">Carrrera en Centro M&eacute;dico Bournigal</a></li>
</ul>
</div>
<div class="span3">
<ul>
    <li><strong>Red Grupo Rescue</strong></li>
    <li><a href="http://www.gruporescue.com">Grupo Rescue</a></li>
    <li><a href="http://www.centromedicopuntacana.com">Centro M&eacute;dico Punta Cana</a></li>
    <li><a href="http://www.clinicacanela.com/">Clinica Canela</a></li>
    <li><a href="http://www.corazonesunidos.com.do/">Corazones Unidos</a></li>
    <li><a href="http://www.cmes.com.do/">Centro M&eacute;dico Saman&aacute;</a></li>
    <li><a href="http://clinicaunionmedica.com/">Uni&oacute;n M&eacute;dica Norte</a></li>
</ul>
</div>

<div class="span3">
<ul>
       <li><strong>Informaci&oacute;n del sitio web</strong></li>
       <li><a href="/escribenos">Env&iacute;anos tus comentarios</a></li>
       <li><a href="/derechos-de-autor">Derechos de autor y licencias</a></li>
       <li><a href="/mapa-del-sitio">Mapa del sitio</a></li>
       <li><a href="/sobre-este-sitio-web">Sobre este sitio web</a></li>
       <li><a href="/terminos-de-uso">Terminos de uso del sitio web</a></li>
       <li><a href="/politica-de-privacidad">Pol&iacute;tica de privacidad</a></li>
</ul>
</div>

</div>

<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
