/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 


p img.image-align-left { 
	float: left; 
    margin:0 20px 20px 20px; 
}

p img.image-align-right {
    float: left; 
    margin:0 20px 20px 20px; 
}
