h1, h4, h5, h6{
	font-size:24px;
	color: #51A351;
}

h2, h3{
	font-size:20px;
	color: #51A351;
}

h3{
	
	font-size:16px;
}

strong {
	color: #08C;

}

#logo {
    background:url(logo_cmbo.png) no-repeat;
    height:155px;
    width:239px;
		margin:0;
}


#logo a {
    display:block;
    text-decoration:none;
    height:155px;
    width:239px;
    text-indent:-9999px;
}

.header_info{
	float:right;
	width:400px;
}

.dotted {
    border-left: 2px dotted #bbd5e5;
	padding-left: 20px;
}

.aside_column{
	padding-left: 25px;
}

.dotted_right {
    border-right: 2px dotted #bbd5e5;
}



.dotted-top {
    border-top: 2px dotted #bbd5e5;
	margin: 25px 0 25px 0;
}	


.inner_content {
    padding-right: 40px;
}
	

/*  News Engine  */

.alignright{
	text-align:right;
}

/* Green Bullet */

ul {
	list-style-image:url(bullet_green.png);
	color: #08C;
}

ul li a {
	text-decoration: none;   
}

#footer {
	background: #0470b5;
	padding: 10px 0 0 0;
	margin-top: 20px;		
}

#footer ul {
	color:#fff;
	font-size:10px;
	list-style:none;
}

footer {
	color:#fff;
	background: #0470b5;
	font-size:10px;
	padding-bottom:20px;
}

footer p {
	padding: 0 0 0 20px;
}

/* Menu */

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #0088cc, #0363a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0363a0));
  background-image: -webkit-linear-gradient(top, #0088cc, #0363a0);
  background-image: -o-linear-gradient(top, #0088cc, #0363a0);
  background-image: linear-gradient(to bottom, #0088cc, #0363a0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0470b5', endColorstr='#fff2f2f2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  *zoom: 1;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 #08c;
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #c3e7f9;
  text-decoration: none;
}

footer {
	padding: 10px 0 0 0px;
	padding-bottom:10px;
	font-size:10px;
	margin-bottom:0;	
}


footer a {
	color: #fff;
	
}

footer a:hover {
	color: #fff;
	
}


footer ul {
	list-style:none;
	color: #fff;	
}

footer ul li strong {
	list-style:none;
	color: #fff;	
}



.table th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #71C256;
  color: #FFF;
}


.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  color: #08C;

}

.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #71C256;
  border-top: 1px solid #71C256;
  border-bottom: 1px solid #71C256;

}

.table-striped tbody > tr:nth-child(even) > td {
  background-color: #EEF6EB;
  border-top: 1px solid #71C256;
  border-bottom: 1px solid #71C256;
}

#separator {
	border-top:1px solid #bbd5e5;
    /* background:url(separator-large-bg.png) no-repeat; */ 
    position:absolute;
	height:40px;
    width:97%;
	margin: 20px 0 20px 0;
	display:block;
}

/* show.html.erb */

.bodypartpadding {
	padding: 0 0 0 40px;
	margin: 0 0 20px 0;
}


p img {
	margin: 0 10px 10px 0;
	border: 5px solid #EAF3FB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.posted_at {
	margin-bottom:10px;

}

.center{
	text-align:center;
}


section#side_body{
	float:right;
	width:30%;
	margin-left:30px;
}


section#body{
	float:left;
	width:64%;
	border-right:2px dotted #bbd5e5;
	padding-right:30px;		
}

